<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaoying.facedemo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.xiaoying.facedemo.MainApplication" >
        <activity
            android:name="com.xiaoying.facedemo.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.xiaoying.facedemo.detect.DetectActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" />

        <activity android:name="com.xiaoying.facedemo.detect.IdentifyFaceActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" />
        
        <activity android:name="com.xiaoying.facedemo.person.CreatePersonActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" />
        
        <activity android:name="com.xiaoying.facedemo.person.PersonListActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" />
        
        <activity android:name="com.xiaoying.facedemo.person.PersonDetailActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" />
        
        <activity android:name="com.xiaoying.facedemo.group.CreateGroupActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" />
        
        <activity android:name="com.xiaoying.facedemo.group.GroupListActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" />
        
        <activity android:name="com.xiaoying.facedemo.group.GroupDetailActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" />
        
        <activity android:name="com.xiaoying.facedemo.faceset.FacesetListActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" />
        
        <activity android:name="com.xiaoying.facedemo.faceset.CreateFacesetActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" />
        
        <activity android:name="com.xiaoying.facedemo.faceset.FacesetDetailActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" />
    </application>

</manifest>